{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">
{% endblock %}

{% block content %}
    <div class="user-info">
        <p>欢迎你 <span>{{ user.nick_name }}</span></p>
    </div>

    <div class="feature-area">
        <div class="feature">
            <a href="{% url 'funds:add_data' %}">
                <span class="glyphicon glyphicon-refresh"
                      aria-hidden="true"></span>
                <span class="feature-name">添加数据</span>
                <span class="right-arrow glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="feature">
            <a href="{% url 'funds:invest_log' %}">
                <span class="glyphicon glyphicon-tasks"
                      aria-hidden="true"></span>
                <span class="feature-name">买入/卖出</span>
                <span class="right-arrow glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="feature">
            <a href="{% url 'funds:concerned' %}">
                <span class="glyphicon glyphicon-tasks"
                      aria-hidden="true"></span>
                <span class="feature-name">我的关注基金</span>
                <span class="right-arrow glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="feature last-feature">
            <a>
                <span class="glyphicon glyphicon-tasks"
                      aria-hidden="true"></span>
                <span class="feature-name">我的关注基金</span>
                <span class="right-arrow glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

{% endblock %}