venv
.env
*.pyc
staticfiles
db.sqlite3
*.log
*.db
.DS_Store
build
dist
.idea
*.rdb
*/xsettings.py
logs
start_local_celery.sh
settings_dev.py
urls_dev.py
manage_dev.py
manage_ss_dev.py
celerybeat.pid
.coverage
.coveragerc
.noserc
.vscode
*.swp
*.swo
.python-version
duanshu_service/develop/*.py
src
statics
deploys/conf/*
deploys/.deploy_env
.env*%
