certifi==2019.3.9
chardet==3.0.4
Django==2.0.3
django-environ==0.4.5
django-extensions==2.0.7
django-jsonfield==1.1.0
idna==2.8
PyMySQL==0.9.3
pytz==2019.1
requests==2.21.0
six==1.12.0
urllib3==1.24.2
