.login-form {
    margin: auto 20px;
    margin-top: 50px;
    position: relative;
}

.login-form button {
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.go-register {
    text-align: right;
    padding: 5px 5px;
}